* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.add-record {
  margin-bottom: 2rem;
}

.records {
  display: flex;
  border: 1px solid #000;
}

.records__items {
  flex: 1 1 auto;
  background-color: #ffec97;
  border-right: 1px solid #000;
}

.records__item {
  border-bottom: 1px solid #000;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.records__item:last-child {
  border-bottom: none;
}

.records__item div {
  flex: 1 1 auto;
}

.records__item button {
  flex: 0 0 auto;
}

.records__dates {
  padding: 1rem;
  background-color: #b2e89b;
}

.records__date {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.records__date:hover {
  text-decoration: underline;
}